/* Global Styles */

html,
body {
    height: 100%;
}

body {
    padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

hr {
    /* margin-top: 20px;
    margin-bottom: 20px;
    border: 0; */
    border-top: 1px solid #dadada;
}

h1 {
    font-size: 50px;    
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

.btn-margin {
	margin-bottom: 20px;
}

.carousel-caption-link:focus, .carousel-caption-link:hover {
    color: #fff;
    text-decoration: underline;
}

.carousel-caption-link:active, .carousel-caption-link:hover {
    outline: 0;
}

.carousel-caption-link {
    color: #fff;
    text-decoration: none;
}

.carousel-caption-link:hover {
    text-decoration: underline;
}

.navbar-inverse {
    background-color: #fff;
    border-color: #fff;
}

.navbar-inverse .navbar-nav > li > a:focus, 
.navbar-inverse .navbar-nav > li > a:hover {
    color: #1D649B;
    background-color: transparent;
}
.navbar-inverse .navbar-nav > li > a {
    color: #5E5E5E;
}

/* navbar-toggle */

.navbar-inverse .navbar-toggle:focus, 
.navbar-inverse .navbar-toggle:hover {
    background-color: #ffffff;
}

.navbar-inverse .navbar-toggle {
    border-color: #ffffff;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #1D649B;
}

.navbar-inverse-internal .navbar-toggle:focus, 
.navbar-inverse-internal .navbar-toggle:hover {
    background-color: #1D649B;
}

.navbar-inverse-internal .navbar-toggle {
   	border-color: #1D649B;
}

.navbar-inverse-internal .navbar-toggle .icon-bar {
   	background-color: #ffffff;
}


/* internal navbar */

.navbar-inverse-internal {
    background-color: #1D649B;
    border-color: #1D649B;
}

.navbar-inverse-internal .navbar-nav > li > a:focus, 
.navbar-inverse-internal .navbar-nav > li > a:hover {
    background-color: #074d83;
}
.navbar-inverse-internal .navbar-nav > li > a {
    color: #fff;
}

.page-header {
    padding-bottom: 5px;
    margin: 40px 0;
    border-bottom: solid 1px #dadada;
}

.img-portfolio {
    margin-bottom: 30px;
}

.img-hover:hover {
    opacity: 0.8;
}

/* Home Page Carousel */

header.carousel {
    height: 50%;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

/* 404 Page Styles */

.error-404 {
    font-size: 100px;
}

/* services */

.fa-mobile::before {
    content: url("../img/mobile_icon.png");
    position: absolute;
	left: 38px;
	top: 6px;    
}

.fa-web::before {
    content: url("../img/web_icon.png");
    position: absolute;
	left: 38px;
	top: 6px;  
}

.fa-customized::before {
    content: url("../img/customized_icon.png");
    position: absolute;
	left: 38px;
	top: 6px;    
}

.fa-consulting::before {
    content: url("../img/consulting_icon.png");
    position: absolute;
	left: 38px;
	top: 6px;    
}

.width-custom {
	width: 70%;
}


/* Pricing Page Styles */

.price {
    display: block;
    font-size: 50px;
    line-height: 50px;
}

.price sup {
    top: -20px;
    left: 2px;
    font-size: 20px;
}

.period {
    display: block;
    font-style: italic;
}

/* Footer Styles */

footer {
    margin-top: 50px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #f5f5f5;
    color: #5A5A5A;
    border-top: solid 1px #e3e3e3;
}

footer ul li {
	padding-right: 20px;
	line-height: 31px;
	display: inline;
	list-style-type: none;
	margin: 0;
    /* width: 100px; */
}

footer ul > li > a:focus, 
footer ul > li > a:hover {
    color: #1D649B;
    text-decoration: none;    
}
footer ul > li > a {
    color: #5A5A5A;    
}

.footer-left {
	
	float: left;
	padding-left: 20px;		
}

.footer-right {	
	float: right;
	padding-right: 20px;		
}

footer .row {
    margin-right: 0px;
    margin-left: 0px;
}
